@using ibrasOneriAnket.Models
@model List<Oneri>

@{
    ViewBag.Title = "YoneticiDegerlendirme";
    Layout = "~/Views/Shared/_AdminControlLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Öneri Değerlendirme</h2>
<br />

<h3 class="text-center">Öneriler</h3>
<table class="table table-striped table-dark" id="tbl1">
    <thead>
        <tr>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Mevcut Durum</th>
            <th scope="col">Öneri</th>
            <th scope="col">Değerlendirme</th>             
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.Kullanici.Ad</td>
            <td>@x.Kullanici.Soyad</td>
            <td>@x.MevcutDurum</td>
            <td>@x.OneriMesajı</td>
            @*<td>@x.OneriMesajı.Substring(0,2)</td>*@
            <td><a href="/AdminOneri/YoneticiDegerlendirme/@x.Kullanici.BirimId" class="btn btn-success" onclick="return confirm('Kesin Onay?');">Değerlendirme</a></td>
            @*<td><a href="/AdminOneri/YoneticiDegerlendirme/@x.Id" class="btn btn-success" onclick="return confirm('Kesin Onay?');">Değerlendirme</a></td>*@
        </tr>
        }
    </tbody>
</table>


<script src="~/Content/minFiles/jquery.min.js"></script>
<link href="~/Content/minFiles/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/minFiles/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="~/Content/minFiles/jquery.dataTables.min.js"></script>
<script src="~/Content/minFiles/dataTables.bootstrap4.min.js"></script>


@*@Html.DevExpress().Button(settings =>
    {
        settings.Name = "Button";
        settings.UseSubmitBehavior = false;
            }).GetHtml()*@



<script>

    $('#tbl1').dataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        }
    });
</script>




