@model ibrasOneriAnket.Models.Oneri
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2 style="margin:25px;">Lütfen Önerinizi Giriniz: </h2>
<form method="post" id="#fr1" style="margin:35px;">
    <div class="padding:10px;">
        @Html.HiddenFor(x => x.Id)
        <div>
            <label>Ad: </label><br />
            @Html.TextBoxFor(q => q.Ad, new { @class = "form-control" })
        </div>
        <div>
            <label>Soyad: </label><br />
            @Html.TextBoxFor(q => q.Soyad, new { @class = "form-control" })
        </div>
        <div>
            <label>Birim: </label><br />
            @Html.DropDownListFor(q => q.BirimId, (IEnumerable<SelectListItem>)ViewBag.dr, "Lütfen Birim Seçiniz", new { @class = "form-control" })
        </div>
        <div>
            <label>Mevcut Durum: </label><br />
            @Html.TextAreaFor(q => q.MevcutDurum, new { @class = "form-control" })
        </div>
        <div>
            <label>Öneriniz: </label><br />
            @Html.TextAreaFor(q => q.OneriMesajı, new { @class = "form-control" })
        </div>
        <div>
            <label>Dosya|Resim: </label><br />
            @Html.Action("Upload","Oneri")
        </div>
        <div style="margin-top:15px;">
            <button class="btn btn-info" onclick="myFunction()">Gönder</button>
        </div>
    </div>
</form>
@*<input type="file" name="PdfFile" />*@


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(function () {
        $("form").submit(function () {
            alert("Öneriniz başarıyla alınmıştır,teşekkürler.");
        });
        function myFunction() {
            document.getElementById("fr1").reset();
        }
    });

</script>