@model ibrasOneriAnket.Models.Oneri
@{
    ViewBag.Title = "OneriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Öneri Bilgileri</h2>

@if (Model.Degerlendirme == false)
{
    using (Html.BeginForm("OneriGuncelle", "Oneri", FormMethod.Post))
    {
        <div class="padding:10px;">
            @Html.HiddenFor(x => x.Id)
            <div>
                <label>Ad: </label><br />
                @Html.TextBoxFor(q => q.Kullanici.Ad, new { @class = "form-control" })
            </div>
            <div>
                <label>Soyad: </label><br />
                @Html.TextBoxFor(q => q.Kullanici.Soyad, new { @class = "form-control" })
            </div>
            <div>
                <label>Mevcut Durum </label><br />
                @Html.TextAreaFor(q => q.MevcutDurum, new { @class = "form-control" })
            </div>
            <div>
                <label>Öneri </label><br />
                @Html.TextAreaFor(q => q.OneriMesajı, new { @class = "form-control" })
            </div>
            <div>
                <label>Birim: </label><br />
                @Html.DropDownListFor(q => q.Kullanici.Birim.Ad, (List<SelectListItem>)ViewBag.dp, new { @class = "form-control" })
            </div>

            <div style="margin-top:15px;">
                <button class="btn btn-info">Güncelle</button>
            </div>
        </div>

    }
}
else
{
    using (Html.BeginForm("OneriGuncelle", "Oneri", FormMethod.Post))
    {
        <div class="padding:10px;">
            @Html.HiddenFor(x => x.Id)
            <div>
                <label>Ad: </label><br />
                @Html.TextBoxFor(q => q.Kullanici.Ad, new { @class = "form-control" , @readonly = "readonly" })
            </div>
            <div>
                <label>Soyad: </label><br />
                @Html.TextBoxFor(q => q.Kullanici.Soyad, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div>
                <label>Mevcut Durum </label><br />
                @Html.TextAreaFor(q => q.MevcutDurum, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div>
                <label>Öneri </label><br />
                @Html.TextAreaFor(q => q.OneriMesajı, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div>
                <label>Birim: </label><br />
                @Html.DropDownListFor(q => q.Kullanici.Birim.Ad, (List<SelectListItem>)ViewBag.dp, new { @class = "form-control", @readonly = "readonly" })
            </div>

            <div style="margin-top:15px;">
                <button class="btn btn-info">Güncelle</button>
            </div>
        </div>

    }
}





